# For Docker
CONFIG_CGROUPS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_BPF=y
CONFIG_BRIDGE=m
CONFIG_BRIDGE_NETFILTER=m
CONFIG_IP_VS=m
CONFIG_NETFILTER_ADVANCED=m
CONFIG_NF_CONNTRACK=m
CONFIG_NETFILTER_XT_MATCH_IPVS=m
CONFIG_NETFILTER_XT_MARK=m
CONFIG_BPF_SYSCALL=y
CONFIG_CGROUP_BPF=m
# For Docker optional
CONFIG_BLK_DEV_THROTTLING=m
CONFIG_NET_CLS_CGROUP=m
CONFIG_CGROUP_NET_PRIO=m
CONFIG_CFS_BANDWIDTH=m
CONFIG_RT_GROUP_SCHED=m
CONFIG_IP_NF_TARGET_REDIRECT=m
CONFIG_IP_VS_NFCT=m
CONFIG_IP_VS_PROTO_TCP=m
CONFIG_IP_VS_PROTO_UDP=m
CONFIG_IP_VS_RR=m
CONFIG_SECURITY_SELINUX=m
CONFIG_SECURITY_APPARMOR=m
CONFIG_EXT3_FS_XATTR=m
CONFIG_EXT3_FS_POSIX_ACL=m
CONFIG_EXT3_FS_SECURITY=m
CONFIG_EXT4_FS_SECURITY=m
CONFIG_VXLAN=m
CONFIG_CRYPTO_SEQIV=m
CONFIG_XFRM=m
CONFIG_XFRM_USER=m
CONFIG_XFRM_ALGO=m
CONFIG_INET_ESP=m
CONFIG_IPVLAN=m
CONFIG_DUMMY=m
CONFIG_NETFILTER_XT_MATCH_BPF=m
CONFIG_NF_NAT_FTP=m
CONFIG_NF_CONNTRACK_FTP=m
CONFIG_NF_NAT_TFTP=m
CONFIG_NF_CONNTRACK_TFTP=m
CONFIG_AUFS_FS=m
CONFIG_DM_THIN_PROVISIONING=m

CONFIG_TUN=m
CONFIG_VETH=m
CONFIG_NF_NAT=m
CONFIG_NF_NAT_FTP=m
CONFIG_NF_NAT_TFTP=m
CONFIG_NF_NAT_REDIRECT=m
CONFIG_NF_NAT_MASQUERADE=m
CONFIG_IP_NF_NAT=m
CONFIG_IP6_NF_NAT=m

CONFIG_NF_NAT_IPV4=m
CONFIG_NF_NAT_NEEDED=m
CONFIG_MEMCG_SWAP_ENABLED=m
CONFIG_IOSCHED_CFQ=m
CONFIG_CFQ_GROUP_IOSCHED=m
CONFIG_EXT3_FS_XATTR=m
CONFIG_INET_XFRM_MODE_TRANSPORT=m
CONFIG_AUFS_FS=m
CONFIG_IPV6=m

CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_MANGLE=m
CONFIG_IP_NF_TARGET_MASQUERADE=m
CONFIG_IP6_NF_IPTABLES=m
CONFIG_IP6_NF_FILTER=m
CONFIG_IP6_NF_MANGLE=m
CONFIG_IP6_NF_TARGET_MASQUERADE=m
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=m
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=m
CONFIG_NETFILTER_XT_MATCH_IPVS=m
CONFIG_NETFILTER_XT_MARK=m
CONFIG_IP_NF_RAW=m
CONFIG_IP_NF_NAT=m
CONFIG_IP6_NF_RAW=m
CONFIG_IP6_NF_NAT=m
CONFIG_NETFILTER_XTABLES_COMPAT=y
CONFIG_IP6_NF_IPTABLES_LEGACY=m
CONFIG_NET_CLS_CGROUP=m
CONFIG_IP_NF_TARGET_REDIRECT=m
CONFIG_IP_SCTP=m
CONFIG_SECURITY_SELINUX=m
CONFIG_SECURITY_APPARMOR=m
CONFIG_NFT_CT=m
CONFIG_NFT_FIB_IPV4=m
CONFIG_NFT_FIB_IPV6=m
CONFIG_NFT_FIB=m
CONFIG_NFT_MASQ=m
CONFIG_NFT_NAT=m
CONFIG_NF_TABLES=m
CONFIG_NF_TABLES_IPV4=m
CONFIG_NF_TABLES_IPV6=m
CONFIG_NFT_CHAIN_NAT_IPV4=m
CONFIG_NFT_MASQ=m
CONFIG_NFT_REJECT_IPV4=m
CONFIG_NFT_REJECT_IPV6=m
CONFIG_NF_TABLES_NETDEV=m
CONFIG_NF_TABLES_BRIDGE=m
CONFIG_BRIDGE_NETFILTER=m
CONFIG_BRIDGE_NF_EBTABLES=m
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=m
CONFIG_NETFILTER_XT_MATCH_MULTIport=m
CONFIG_NF_CONNTRACK_NETLINK=m
CONFIG_NFT_REDIR=m
CONFIG_NFT_TABLES_BASE=m
CONFIG_NFT_CHAIN_NAT_IPV6=m
CONFIG_NFT_REJECT=m
CONFIG_IP_NF_IPTABLES=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_NAT=m
CONFIG_IP_NF_TARGET_MASQUERADE=m
CONFIG_IP_NF_MATCH_CONNTRACK=m

CONFIG_OVERLAY_FS=m
