// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Overlay for uio device on R-Car V4H ES3.0 Sparrow Hawk board
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */
// /dts-v1/;
// /plugin/;

// r8a779g3-sparrow-hawk-uio-dtbs := r8a779g3-sparrow-hawk.dtb r8a779g3-sparrow-hawk-uio.dtbo
// dtb-$(CONFIG_ARCH_R8A779G0) += r8a779g3-sparrow-hawk-uio.dtb

// #include <dt-bindings/clock/r8a779g0-cpg-mssr.h>
// #include <dt-bindings/interrupt-controller/arm-gic.h>
// #include <dt-bindings/power/r8a779g0-sysc.h>
// #include "r8a779g0.dtsi"

//#include <dt-bindings/ipmmu/rcar-ipmmu.h>
#define RCAR_IPMMU_INVALID  0
#define RCAR_IPMMU_MM       1
#define RCAR_IPMMU_VI0      2
#define RCAR_IPMMU_VI1      3
#define RCAR_IPMMU_VP0      4
#define RCAR_IPMMU_VP1      5
#define RCAR_IPMMU_VC0      6
#define RCAR_IPMMU_VC1      7
#define RCAR_IPMMU_PV0      8
#define RCAR_IPMMU_PV1      9
#define RCAR_IPMMU_PV2      10
#define RCAR_IPMMU_PV3      11
#define RCAR_IPMMU_IR       12
#define RCAR_IPMMU_HC       13
#define RCAR_IPMMU_RT0      14
#define RCAR_IPMMU_RT1      15
#define RCAR_IPMMU_MP       16
#define RCAR_IPMMU_DS0      17
#define RCAR_IPMMU_DS1      18
#define RCAR_IPMMU_VIP0     19
#define RCAR_IPMMU_VIP1     20
#define RCAR_IPMMU_3DG      21
#define RCAR_IPMMU_VC       22

&soc {
	imrlx6_ims0: ims@fe860000 {
		compatible = "generic-uio";
		reg = <0 0xfe860000 0 0x10000>;
		interrupts = <GIC_SPI 579 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 529>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 529>;
		linux,uio-name = "ims_00";
		ipmmu-id = <RCAR_IPMMU_VC 8>;
		iommus = <&ipmmu_vc 8>;
	};

	imrlx6_ims1: ims@fe870000 {
		compatible = "generic-uio";
		reg = <0 0xfe870000 0 0x10000>;
		interrupts = <GIC_SPI 580 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 530>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 530>;
		linux,uio-name = "ims_01";
		ipmmu-id = <RCAR_IPMMU_VC 9>;
		iommus = <&ipmmu_vc 9>;
	};

	imrlx6_imr0: imr@fe880000 {
		compatible = "generic-uio";
		reg = <0 0xfe880000 0 0x10000>;
		interrupts = <GIC_SPI 581 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 525>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 525>;
		linux,uio-name = "imr_00";
		ipmmu-id = <RCAR_IPMMU_VC 0>;
		iommus = <&ipmmu_vc 0>, <&ipmmu_vc 4>;
	};

	imrlx6_imr1: imr@fe890000 {
		compatible = "generic-uio";
		reg = <0 0xfe890000 0 0x10000>;
		interrupts = <GIC_SPI 582 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 526>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 526>;
		linux,uio-name = "imr_01";
		ipmmu-id = <RCAR_IPMMU_VC 1>;
		iommus = <&ipmmu_vc 1>, <&ipmmu_vc 5>;
	};

	imrlx6_imr2: imr@fe8a0000 {
		compatible = "generic-uio";
		reg = <0 0xfe8a0000 0 0x10000>;
		interrupts = <GIC_SPI 583 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 527>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 527>;
		linux,uio-name = "imr_02";
		ipmmu-id = <RCAR_IPMMU_VC 2>;
		iommus = <&ipmmu_vc 2>, <&ipmmu_vc 6>;
	};

	impslv0: imp-distributer0@ff900000 {
		compatible = "generic-uio";
		reg = <0 0xff900000 0 0x6000>;
		interrupts = <GIC_SPI 565 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 118>;
		power-domains = <&sysc R8A779G0_PD_A3IR>;
		interrupt-controller;
		#interrupt-cells = <1>;
		resets = <&cpg 118>;
		linux,uio-name = "imp_top_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>,
			 <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impslv1: imp-distributer1@ff900000 {
		compatible = "generic-uio";
		reg = <0 0xff900000 0 0x6000>;
		interrupts = <GIC_SPI 566 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 118>;
		power-domains = <&sysc R8A779G0_PD_A3IR>;
		interrupt-controller;
		#interrupt-cells = <1>;
		linux,uio-name = "irq_imp_top_00_01";
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>,
			 <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impslv2: imp-distributer2@ff900000 {
		compatible = "generic-uio";
		reg = <0 0xff900000 0 0x6000>;
		interrupts = <GIC_SPI 567 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 118>;
		power-domains = <&sysc R8A779G0_PD_A3IR>;
		interrupt-controller;
		#interrupt-cells = <1>;
		linux,uio-name = "irq_imp_top_00_02";
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>,
			 <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	imp0: imp-core@ffa00000 {
		compatible = "generic-uio";
		reg = <0 0xffa00000 0 0x20000>;
		clocks = <&cpg CPG_MOD 24>;
		power-domains = <&sysc R8A779G0_PD_A2IMP01>;
		resets = <&cpg 24>;
		linux,uio-name = "imp_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	imp1: imp-core@ffa20000 {
		compatible = "generic-uio";
		reg = <0 0xffa20000 0 0x20000>;
		clocks = <&cpg CPG_MOD 25>;
		power-domains = <&sysc R8A779G0_PD_A2IMP01>;
		resets = <&cpg 25>;
		linux,uio-name = "imp_01";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	imp2: imp-core@ffb00000 {
		compatible = "generic-uio";
		reg = <0 0xffb00000 0 0x20000>;
		clocks = <&cpg CPG_MOD 103>;
		power-domains = <&sysc R8A779G0_PD_A2IMP23>;
		resets = <&cpg 103>;
		linux,uio-name = "imp_02";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	imp3: imp-core@ffb20000 {
		compatible = "generic-uio";
		reg = <0 0xffb20000 0 0x20000>;
		clocks = <&cpg CPG_MOD 104>;
		power-domains = <&sysc R8A779G0_PD_A2IMP23>;
		resets = <&cpg 104>;
		linux,uio-name = "imp_03";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	impcve0: imp-cve@ffa40000 {
		compatible = "generic-uio";
		reg = <0 0xffa40000 0 0x10000>;
		clocks = <&cpg CPG_MOD 2706>;
		power-domains = <&sysc R8A779G0_PD_A2CV0>;
		resets = <&cpg 2706>;
		linux,uio-name = "imp_ocv_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	impcve1: imp-cve@ffa50000 {
		compatible = "generic-uio";
		reg = <0 0xffa50000 0 0x10000>;
		clocks = <&cpg CPG_MOD 2707>;
		power-domains = <&sysc R8A779G0_PD_A2CV1>;
		resets = <&cpg 2707>;
		linux,uio-name = "imp_ocv_01";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impcve2: imp-cve@ffa60000 {
		compatible = "generic-uio";
		reg = <0 0xffa60000 0 0x10000>;
		clocks = <&cpg CPG_MOD 2708>;
		power-domains = <&sysc R8A779G0_PD_A2CV2>;
		resets = <&cpg 2708>;
		linux,uio-name = "imp_ocv_02";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	impcve3: imp-cve@ffa70000 {
		compatible = "generic-uio";
		reg = <0 0xffa70000 0 0x10000>;
		clocks = <&cpg CPG_MOD 2709>;
		power-domains = <&sysc R8A779G0_PD_A2CV3>;
		resets = <&cpg 2709>;
		linux,uio-name = "imp_ocv_03";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	impdma00: dma-controller@ffa80000 {
		compatible = "generic-uio";
		reg = <0 0xffa80000 0 0x4000>;
		clocks = <&cpg CPG_MOD 26>;
		power-domains = <&sysc R8A779G0_PD_A2PSC>;
		resets = <&cpg 26>;
		linux,uio-name = "imp_dma_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	impdma01: dma-controller@ffb80000 {
		compatible = "generic-uio";
		reg = <0 0xffb80000 0 0x4000>;
		clocks = <&cpg CPG_MOD 105>;
		power-domains = <&sysc R8A779G0_PD_A2DMA>;
		resets = <&cpg 105>;
		linux,uio-name = "imp_dma_01";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;

	};

	imppsc0: imp-psc@ffa84000 {
		compatible = "generic-uio";
		reg = <0 0xffa84000 0 0x4000>;
		clocks = <&cpg CPG_MOD 27>;
		power-domains = <&sysc R8A779G0_PD_A2PSC>;
		resets = <&cpg 27>;
		linux,uio-name = "imp_psc_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	impdta0: imp-dta@ffa88000 {
		compatible = "generic-uio";
		reg = <0 0xffa88000 0 0x4000>;
		clocks = <&cpg CPG_MOD 116>;
		power-domains = <&sysc R8A779G0_PD_A3IR>;
		resets = <&cpg 116>;
		linux,uio-name = "imp_dta_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>;
	};

	impdmacslim00: imp-dmac-slim@ffa90000 {
		compatible = "generic-uio";
		reg = <0 0xffa90000 0 0x4000>;
		clocks = <&cpg CPG_MOD 2712>;
		power-domains = <&sysc R8A779G0_PD_A2CN0>;
		resets = <&cpg 2712>;
		linux,uio-name = "imp_dma_slim_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>,
			 <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impdmacslim01: imp-dmac-slim@ffa94000 {
		compatible = "generic-uio";
		reg = <0 0xffa94000 0 0x4000>;
		clocks = <&cpg CPG_MOD 2713>;
		power-domains = <&sysc R8A779G0_PD_A2CN0>;
		resets = <&cpg 2713>;
		linux,uio-name = "imp_dma_slim_01";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>,
			 <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impcnn0: imp-cnn@ffaa0000 {
		compatible = "generic-uio";
		reg = <0 0xffaa0000 0 0x10000>;
		clocks = <&cpg CPG_MOD 22>;
		power-domains = <&sysc R8A779G0_PD_A1CNN0>;
		resets = <&cpg 22>;
		linux,uio-name = "imp_cnn_00";
		ipmmu-id = <RCAR_IPMMU_IR 16>;
		iommus = <&ipmmu_ir 16>, <&ipmmu_ir 17>,
			 <&ipmmu_ir 18>, <&ipmmu_ir 19>,
			 <&ipmmu_ir 20>, <&ipmmu_ir 21>,
			 <&ipmmu_ir 22>, <&ipmmu_ir 23>,
			 <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impspmi0_ctrl: imp-ram@ffa8c000 {
		compatible = "generic-uio";
		reg = <0 0xffa8c000 0 0x4000>;
		clocks = <&cpg CPG_MOD 120>;
		power-domains = <&sysc R8A779G0_PD_A3IR>;
		resets = <&cpg 120>;
		linux,uio-name = "imp_reg_spmi_00";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impspmc0_ctrl: cnn-ram@ffab0000 {
		compatible = "generic-uio";
		reg = <0 0xffab0000 0 0x4000>;
		clocks = <&cpg CPG_MOD 23>;
		power-domains = <&sysc R8A779G0_PD_A1CNN0>;
		resets = <&cpg 23>;
		linux,uio-name = "imp_reg_spmc_00";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impspmi0_mem: imp-ram@ed300000 {
		compatible = "generic-uio";
		reg = <0 0xed300000 0 0x100000>;
		clocks = <&cpg CPG_MOD 120>;
		power-domains = <&sysc R8A779G0_PD_A3IR>;
		linux,uio-name = "imp_spmi_00";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impspmc0_mem: cnn-ram@ed400000 {
		compatible = "generic-uio";
		reg = <0 0xed400000 0 0x200000>;
		clocks = <&cpg CPG_MOD 23>;
		power-domains = <&sysc R8A779G0_PD_A1CNN0>;
		linux,uio-name = "imp_spmc_00";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impspmc1_mem: cnn-ram@ed600000 {
		compatible = "generic-uio";
		reg = <0 0xed600000 0 0x80000>;
		clocks = <&cpg CPG_MOD 23>;
		power-domains = <&sysc R8A779G0_PD_A1CNN0>;
		linux,uio-name = "imp_spmc_01";
		ipmmu-id = <RCAR_IPMMU_IR 24>;
		iommus = <&ipmmu_ir 24>, <&ipmmu_ir 25>,
			 <&ipmmu_ir 26>, <&ipmmu_ir 27>,
			 <&ipmmu_ir 28>, <&ipmmu_ir 29>,
			 <&ipmmu_ir 30>, <&ipmmu_ir 31>;
	};

	impvdsp00_00: vdsp@f1400000 {
		compatible = "generic-uio";
		reg = <0 0xf1400000 0 0x1a0000>;
		interrupts = <GIC_SPI 478 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2821>;
		clock-names = "vdsp0_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP0>;
		resets = <&cpg 2825>;
		reset-names = "vdsp0_core";
		linux,uio-name = "vdsp00_00";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp00_00_01 {
		compatible = "generic-uio";
		reg = <0 0xf1400000 0 0x1a0000>;
		interrupts = <GIC_SPI 479 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2821>;
		clock-names = "vdsp0_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP0>;
		linux,uio-name = "irq_vdsp00_00_01";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp00_00_02 {
		compatible = "generic-uio";
		reg = <0 0xf1400000 0 0x1a0000>;
		interrupts = <GIC_SPI 480 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2821>;
		clock-names = "vdsp0_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP0>;
		linux,uio-name = "irq_vdsp00_00_02";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp00_00_03 {
		compatible = "generic-uio";
		reg = <0 0xf1400000 0 0x1a0000>;
		interrupts = <GIC_SPI 481 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2821>;
		clock-names = "vdsp0_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP0>;
		linux,uio-name = "irq_vdsp00_00_03";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp00_00_04 {
		compatible = "generic-uio";
		reg = <0 0xf1400000 0 0x1a0000>;
		interrupts = <GIC_SPI 482 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2821>;
		clock-names = "vdsp0_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP0>;
		linux,uio-name = "irq_vdsp00_00_04";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp00_01 {
		compatible = "generic-uio";
		clocks = <&cpg CPG_MOD 2801>;
		clock-names = "vdsp0_bus";
		power-domains = <&sysc R8A779G0_PD_A1DSP0>;
		resets = <&cpg 2821>;
		reset-names = "vdsp0_csb";
		linux,uio-name = "vdsp00_01";
	};

	impvdsp00_02 {
		compatible = "generic-uio";
		resets = <&cpg 2822>;
		reset-names = "reg";
		linux,uio-name = "vdsp00_02";
	};

	impvdsp00_03 {
		compatible = "generic-uio";
		resets = <&cpg 2823>;
		reset-names = "global";
		linux,uio-name = "vdsp00_03";
	};

	impvdsp00_04 {
		compatible = "generic-uio";
		resets = <&cpg 2824>;
		reset-names = "sys";
		linux,uio-name = "vdsp00_04";
	};

	impvdsp00_05 {
		compatible = "generic-uio";
		resets = <&cpg 2826>;
		reset-names = "vdsp0_ocem";
		linux,uio-name = "vdsp00_05";
	};

	impvdsp00_06 {
		compatible = "generic-uio";
		resets = <&cpg 2827>;
		reset-names = "vdsp0_apbdbg";
		linux,uio-name = "vdsp00_06";
	};

	impvdsp00_07 {
		compatible = "generic-uio";
		resets = <&cpg 2828>;
		reset-names = "vdsp0_syspo";
		linux,uio-name = "vdsp00_07";
	};

	impvdsp01_00: vdsp@f1600000 {
		compatible = "generic-uio";
		reg = <0 0xf1600000 0 0x1a0000>;
		interrupts = <GIC_SPI 483 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2830>;
		clock-names = "vdsp1_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP1>;
		resets = <&cpg 2902>;
		reset-names = "vdsp1_core";
		linux,uio-name = "vdsp01_00";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp01_00_01 {
		compatible = "generic-uio";
		reg = <0 0xf1600000 0 0x1a0000>;
		interrupts = <GIC_SPI 484 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2830>;
		clock-names = "vdsp1_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP1>;
		linux,uio-name = "irq_vdsp01_00_01";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp01_00_02 {
		compatible = "generic-uio";
		reg = <0 0xf1600000 0 0x1a0000>;
		interrupts = <GIC_SPI 485 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2830>;
		clock-names = "vdsp1_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP1>;
		linux,uio-name = "irq_vdsp01_00_02";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp01_00_03 {
		compatible = "generic-uio";
		reg = <0 0xf1600000 0 0x1a0000>;
		interrupts = <GIC_SPI 486 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2830>;
		clock-names = "vdsp1_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP1>;
		linux,uio-name = "irq_vdsp01_00_03";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp01_00_04 {
		compatible = "generic-uio";
		reg = <0 0xf1600000 0 0x1a0000>;
		interrupts = <GIC_SPI 487 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2830>;
		clock-names = "vdsp1_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP1>;
		linux,uio-name = "irq_vdsp01_00_04";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp01_01 {
		compatible = "generic-uio";
		clocks = <&cpg CPG_MOD 2802>;
		clock-names = "vdsp1_bus";
		power-domains = <&sysc R8A779G0_PD_A1DSP1>;
		resets = <&cpg 2830>;
		reset-names = "vdsp1_csb";
		linux,uio-name = "vdsp01_01";
	};

	impvdsp01_02 {
		compatible = "generic-uio";
		resets = <&cpg 2831>;
		reset-names = "vdsp1_reg";
		linux,uio-name = "vdsp01_02";
	};

	impvdsp01_03 {
		compatible = "generic-uio";
		resets = <&cpg 2900>;
		reset-names = "vdsp1_global";
		linux,uio-name = "vdsp01_03";
	};

	impvdsp01_04 {
		compatible = "generic-uio";
		resets = <&cpg 2901>;
		reset-names = "vdsp1_sys";
		linux,uio-name = "vdsp01_04";
	};

	impvdsp01_05 {
		compatible = "generic-uio";
		resets = <&cpg 2903>;
		reset-names = "vdsp1_ocem";
		linux,uio-name = "vdsp01_05";
	};

	impvdsp01_06 {
		compatible = "generic-uio";
		resets = <&cpg 2904>;
		reset-names = "vdsp1_apbdbg";
		linux,uio-name = "vdsp01_06";
	};

	impvdsp01_07 {
		compatible = "generic-uio";
		resets = <&cpg 2905>;
		reset-names = "vdsp1_syspo";
		linux,uio-name = "vdsp01_07";
	};

	impvdsp02_00: vdsp@f1800000 {
		compatible = "generic-uio";
		reg = <0 0xf1800000 0 0x1a0000>;
		interrupts = <GIC_SPI 488 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2907>;
		clock-names = "vdsp2_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP2>;
		resets = <&cpg 2911>;
		reset-names = "vdsp2_core";
		linux,uio-name = "vdsp02_00";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp02_00_01 {
		compatible = "generic-uio";
		reg = <0 0xf1800000 0 0x1a0000>;
		interrupts = <GIC_SPI 489 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2907>;
		clock-names = "vdsp2_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP2>;
		linux,uio-name = "irq_vdsp02_00_01";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp02_00_02 {
		compatible = "generic-uio";
		reg = <0 0xf1800000 0 0x1a0000>;
		interrupts = <GIC_SPI 490 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2907>;
		clock-names = "vdsp2_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP2>;
		linux,uio-name = "irq_vdsp02_00_02";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp02_00_03 {
		compatible = "generic-uio";
		reg = <0 0xf1800000 0 0x1a0000>;
		interrupts = <GIC_SPI 491 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2907>;
		clock-names = "vdsp2_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP2>;
		linux,uio-name = "irq_vdsp02_00_03";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp02_00_04 {
		compatible = "generic-uio";
		reg = <0 0xf1800000 0 0x1a0000>;
		interrupts = <GIC_SPI 492 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2907>;
		clock-names = "vdsp2_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP2>;
		linux,uio-name = "irq_vdsp02_00_04";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp02_01 {
		compatible = "generic-uio";
		clocks = <&cpg CPG_MOD 2803>;
		clock-names = "vdsp2_bus";
		power-domains = <&sysc R8A779G0_PD_A1DSP2>;
		resets = <&cpg 2907>;
		reset-names = "vdsp2_csb";
		linux,uio-name = "vdsp02_01";
	};

	impvdsp02_02 {
		compatible = "generic-uio";
		resets = <&cpg 2908>;
		reset-names = "vdsp2_reg";
		linux,uio-name = "vdsp02_02";
	};

	impvdsp02_03 {
		compatible = "generic-uio";
		resets = <&cpg 2909>;
		reset-names = "vdsp2_global";
		linux,uio-name = "vdsp02_03";
	};

	impvdsp02_04 {
		compatible = "generic-uio";
		resets = <&cpg 2910>;
		reset-names = "vdsp2_sys";
		linux,uio-name = "vdsp02_04";
	};

	impvdsp02_05 {
		compatible = "generic-uio";
		resets = <&cpg 2912>;
		reset-names = "vdsp2_ocem";
		linux,uio-name = "vdsp02_05";
	};

	impvdsp02_06 {
		compatible = "generic-uio";
		resets = <&cpg 2913>;
		reset-names = "vdsp2_apbdbg";
		linux,uio-name = "vdsp02_06";
	};

	impvdsp02_07 {
		compatible = "generic-uio";
		resets = <&cpg 2914>;
		reset-names = "vdsp2_syspo";
		linux,uio-name = "vdsp02_07";
	};

	impvdsp03_00: vdsp@f1a00000 {
		compatible = "generic-uio";
		reg = <0 0xf1a00000 0 0x1a0000>;
		interrupts = <GIC_SPI 493 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2916>;
		clock-names = "vdsp3_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP3>;
		resets = <&cpg 2920>;
		reset-names = "vdsp3_core";
		linux,uio-name = "vdsp03_00";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp03_00_01 {
		compatible = "generic-uio";
		reg = <0 0xf1a00000 0 0x1a0000>;
		interrupts = <GIC_SPI 494 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2916>;
		clock-names = "vdsp3_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP3>;
		linux,uio-name = "irq_vdsp03_00_01";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp03_00_02 {
		compatible = "generic-uio";
		reg = <0 0xf1a00000 0 0x1a0000>;
		interrupts = <GIC_SPI 495 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2916>;
		clock-names = "vdsp3_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP3>;
		linux,uio-name = "irq_vdsp03_00_02";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp03_00_03 {
		compatible = "generic-uio";
		reg = <0 0xf1a00000 0 0x1a0000>;
		interrupts = <GIC_SPI 496 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2916>;
		clock-names = "vdsp3_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP3>;
		linux,uio-name = "irq_vdsp03_00_03";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp03_00_04 {
		compatible = "generic-uio";
		reg = <0 0xf1a00000 0 0x1a0000>;
		interrupts = <GIC_SPI 497 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2916>;
		clock-names = "vdsp3_csb";
		power-domains = <&sysc R8A779G0_PD_A1DSP3>;
		linux,uio-name = "irq_vdsp03_00_04";
		ipmmu-id = <RCAR_IPMMU_IR 13>;
		iommus = <&ipmmu_ir 13>, <&ipmmu_ir 14>;
	};

	impvdsp03_01 {
		compatible = "generic-uio";
		clocks = <&cpg CPG_MOD 2804>;
		clock-names = "vdsp3_bus";
		power-domains = <&sysc R8A779G0_PD_A1DSP3>;
		resets = <&cpg 2916>;
		reset-names = "vdsp3_csb";
		linux,uio-name = "vdsp03_01";
	};

	impvdsp03_02 {
		compatible = "generic-uio";
		resets = <&cpg 2917>;
		reset-names = "vdsp3_reg";
		linux,uio-name = "vdsp03_02";
	};

	impvdsp03_03 {
		compatible = "generic-uio";
		resets = <&cpg 2918>;
		reset-names = "vdsp3_global";
		linux,uio-name = "vdsp03_03";
	};

	impvdsp03_04 {
		compatible = "generic-uio";
		resets = <&cpg 2919>;
		reset-names = "vdsp3_sys";
		linux,uio-name = "vdsp03_04";
	};

	impvdsp03_05 {
		compatible = "generic-uio";
		resets = <&cpg 2921>;
		reset-names = "vdsp3_ocem";
		linux,uio-name = "vdsp03_05";
	};

	impvdsp03_06 {
		compatible = "generic-uio";
		resets = <&cpg 2922>;
		reset-names = "vdsp3_apbdbg";
		linux,uio-name = "vdsp03_06";
	};

	impvdsp03_07 {
		compatible = "generic-uio";
		resets = <&cpg 2923>;
		reset-names = "vdsp3_syspo";
		linux,uio-name = "vdsp03_07";
	};

	dof_sts_00 {
		compatible = "generic-uio";
		reg = <0 0xe7a10000 0 0x10000>;
		interrupts = <GIC_SPI 861 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 9>;
		power-domains = <&sysc R8A779G0_PD_A3VIP0>;
		resets = <&cpg 9>;
		linux,uio-name = "dof_00";
		ipmmu-id = <RCAR_IPMMU_VIP0 3>;
		iommus = <&ipmmu_vip0 3>;
	};

	dof_err_00 {
		compatible = "generic-uio";
		reg = <0 0xe7a10000 0 0x10000>;
		interrupts = <GIC_SPI 862 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 9>;
		power-domains = <&sysc R8A779G0_PD_A3VIP0>;
		linux,uio-name = "irq_dof_00_01";
		ipmmu-id = <RCAR_IPMMU_VIP0 3>;
	};

	smd_ps_sts_00 {
		compatible = "generic-uio";
		reg = <0 0xe7a20000 0 0x10000>;
		interrupts = <GIC_SPI 873 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 7>;
		power-domains = <&sysc R8A779G0_PD_A3VIP2>;
		resets = <&cpg 7>;
		linux,uio-name = "smd_ps_00";
		ipmmu-id = <RCAR_IPMMU_VIP0 2>;
		iommus = <&ipmmu_vip0 2>;
	};

	smd_ps_err_00 {
		compatible = "generic-uio";
		reg = <0 0xe7a20000 0 0x10000>;
		interrupts = <GIC_SPI 874 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 7>;
		power-domains = <&sysc R8A779G0_PD_A3VIP2>;
		linux,uio-name = "irq_smd_ps_00_01";
		ipmmu-id = <RCAR_IPMMU_VIP0 2>;
		iommus = <&ipmmu_vip0 2>;
	};

	smd_post_sts_00 {
		compatible = "generic-uio";
		reg = <0 0xe7a40000 0 0x10000>;
		interrupts = <GIC_SPI 871 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 5>;
		power-domains = <&sysc R8A779G0_PD_A3VIP2>;
		resets = <&cpg 5>;
		linux,uio-name = "smd_post_00";
		ipmmu-id = <RCAR_IPMMU_VIP0 1>;
		iommus = <&ipmmu_vip0 1>;
	};

	smd_post_err_00 {
		compatible = "generic-uio";
		reg = <0 0xe7a40000 0 0x10000>;
		interrupts = <GIC_SPI 872 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 5>;
		power-domains = <&sysc R8A779G0_PD_A3VIP2>;
		linux,uio-name = "irq_smd_post_00_01";
		ipmmu-id = <RCAR_IPMMU_VIP0 1>;
		iommus = <&ipmmu_vip0 1>;
	};

	dof_fcprm {
		compatible = "generic-uio";
		reg = <0 0xe7ab1000 0 0x1000>;
		clocks = <&cpg CPG_MOD 9>;
		power-domains = <&sysc R8A779G0_PD_A3VIP0>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 9>;
		*/
		linux,uio-name = "dof_fcprm_00";
		ipmmu-id = <RCAR_IPMMU_VIP0 3>;
		iommus = <&ipmmu_vip0 3>;
	};

	vip_wrap {
		compatible = "generic-uio";
		reg = <0 0xe7b3b000 0 0x1000>;
		/* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 5>, <&cpg 7>, <&cpg 9>;
		* (smd_post_00, smd_ps_00, dof_00)
		*/
		linux,uio-name = "vip_wrap_00";
		ipmmu-id = <RCAR_IPMMU_VIP0 3>;
		iommus = <&ipmmu_vip0 3>, <&ipmmu_vi0 2>,
			<&ipmmu_vi0 1>;
	};

	cisp0: cisp@fec00000 {
		compatible = "generic-uio";
		reg = <0 0xfec00000 0 0x100000>;
		interrupts = <GIC_SPI 475 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 16>;
		power-domains = <&sysc R8A779G0_PD_A3ISP0>;
		resets = <&cpg 16>;
		linux,uio-name = "cisp_00";
		ipmmu-id = <RCAR_IPMMU_VI0 10>;
		iommus = <&ipmmu_vi0 10>, <&ipmmu_vi0 14>,
			 <&ipmmu_vi0 18>, <&ipmmu_vi0 22>,
			 <&ipmmu_vi0 26>;
	};

	tisp0: tisp@fed00000 {
		compatible = "generic-uio";
		reg = <0 0xfed00000 0 0x10000>;
		interrupts = <GIC_SPI 473 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 612>;
		power-domains = <&sysc R8A779G0_PD_A3ISP0>;
		resets = <&cpg 612>;
		linux,uio-name = "tisp_00";
	};

	cisp1: cisp@fee00000 {
		compatible = "generic-uio";
		reg = <0 0xfee00000 0 0x100000>;
		interrupts = <GIC_SPI 476 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 17>;
		power-domains = <&sysc R8A779G0_PD_A3ISP1>;
		resets = <&cpg 17>;
		linux,uio-name = "cisp_01";
		ipmmu-id = <RCAR_IPMMU_VI0 11>;
		iommus = <&ipmmu_vi0 11>, <&ipmmu_vi0 15>,
			 <&ipmmu_vi0 19>, <&ipmmu_vi0 23>,
			 <&ipmmu_vi0 27>; 
	};

	tisp1: tisp@fed20000 {
		compatible = "generic-uio";
		reg = <0 0xfed20000 0 0x10000>;
		interrupts = <GIC_SPI 474 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 613>;
		power-domains = <&sysc R8A779G0_PD_A3ISP1>;
		resets = <&cpg 613>;
		linux,uio-name = "tisp_01";
	};

	vspx0: vspx@fedd0000 {
		compatible = "generic-uio";
		reg = <0 0xfedd0000 0 0x8000>;
		interrupts = <GIC_SPI 556 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 1028>;
		power-domains = <&sysc R8A779G0_PD_A3ISP0>;
		resets = <&cpg 1028>;
		linux,uio-name = "vspx_00";
		ipmmu-id = <RCAR_IPMMU_VI1 24>;
		iommus = <&ipmmu_vi1 24>;
	};

	vspx1: vspx@fedd8000 {
		compatible = "generic-uio";
		reg = <0 0xfedd8000 0 0x8000>;
		interrupts = <GIC_SPI 557 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 1029>;
		power-domains = <&sysc R8A779G0_PD_A3ISP1>;
		resets = <&cpg 1029>;
		linux,uio-name = "vspx_01";
		ipmmu-id = <RCAR_IPMMU_VI1 25>;
		iommus = <&ipmmu_vi1 25>;
	};

	fcpvx0: fcpvs@fedb0000 {
		compatible = "generic-uio";
		reg = <0 0xfedb0000 0 0x8000>;
		clocks =<&cpg CPG_MOD 1100>;
		power-domains = <&sysc R8A779G0_PD_A3ISP0>;
		resets = <&cpg 1100>;
		linux,uio-name = "fcpvx_00";
		ipmmu-id = <RCAR_IPMMU_VI1 24>;
		iommus = <&ipmmu_vi1 24>;
	};

	fcpvx1: fcpvs@fedb8000 {
		compatible = "generic-uio";
		reg = <0 0xfedb8000 0 0x8000>;
		clocks =<&cpg CPG_MOD 1101>;
		power-domains = <&sysc R8A779G0_PD_A3ISP1>;
		resets = <&cpg 1101>;
		linux,uio-name = "fcpvx_01";
		ipmmu-id = <RCAR_IPMMU_VI1 25>;
		iommus = <&ipmmu_vi1 25>;
	};

	gsx: gsx@fd000000 {
		compatible = "renesas,gsx";
		reg = <0 0xfd000000 0 0x800000>;
		interrupts = <GIC_SPI 464 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 0>;
		power-domains = <&sysc R8A779G0_PD_A23DGB>;
		resets = <&cpg 0>;
		ipmmu-id = <RCAR_IPMMU_3DG 0>;
		iommus = <&ipmmu_3dg 0>, <&ipmmu_3dg 1>,
			 <&ipmmu_3dg 2>, <&ipmmu_3dg 3>,
			 <&ipmmu_3dg 4>, <&ipmmu_3dg 5>,
			 <&ipmmu_3dg 6>, <&ipmmu_3dg 7>;
	};

	iccom_reg: mfis@e6260000 {
		compatible = "generic-uio";
		reg = <0 0xe6260000 0 0x10000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "iccom_reg_00";
	};

	iccom00 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 123 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_00";
	};

	iccom01 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 125 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_01";
	};

	iccom02 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 127 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_02";
	};

	iccom03 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 129 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_03";
	};

	iccom04 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 131 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_04";
	};

	iccom05 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 133 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_05";
	};

	iccom06 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 135 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_06";
	};

	iccom07 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 137 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_07";
	};

	iccom08 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 916 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_08";
	};

	iccom09 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 918 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_09";
	};

	iccom10 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 920 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_10";
	};

	iccom11 {
		compatible = "generic-uio";
		interrupts = <GIC_SPI 922 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "iccom_11";
	};

	ivcp1e_00 {
		compatible = "generic-uio";
		reg = <0 0xfea00000 0 0x10000>;
		clocks = <&cpg CPG_MOD 616>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 616>;
		interrupts = <GIC_SPI 855 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "ivcp1e_00";
		ipmmu-id = <RCAR_IPMMU_VC 14>;
		iommus = <&ipmmu_vc 14>;
	};

	irq_ivcp1e_00_01 {
		compatible = "generic-uio";
		reg = <0 0xfea00000 0 0x10000>;
		interrupts = <GIC_SPI 856 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_ivcp1e_00_01";
		ipmmu-id = <RCAR_IPMMU_VC 14>;
		iommus = <&ipmmu_vc 14>;
	};

	vcp4_00: vcpl4@fe910000 {
		compatible = "generic-uio";
		reg = <0 0xfe910000 0 0x10000>;
		interrupts = <GIC_SPI 858 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 729>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 729>;
		linux,uio-name = "vcp4_00";
	};

	irq_vcp4_00_01 {
		compatible = "generic-uio";
		reg = <0 0xfe910000 0 0x10000>;
		interrupts = <GIC_SPI 859 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_vcp4_00_01";
	};

	fcpc_00 {
		compatible = "generic-uio";
		reg = <0 0xfe90f000 0 0x1000>;
		clocks = <&cpg CPG_MOD 507>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 507>;
		linux,uio-name = "fcpc_00";
	};

	fbc0: fbc@ff830000 {
		compatible = "renesas,uio-fbc";
		reg = <0 0xff830000 0 0x2000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>,
			 <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD1>,
			 <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD4>;
		clock-names = "fbc_post", "fbc_post2", "fbc_post4";
		interrupts = <GIC_SPI 852 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fbc_00";
	};

	fba_ims0: fba@fe605000 {
		compatible = "generic-uio";
		reg = <0 0xfe605000 0 0x1000>;
		interrupts = <GIC_SPI 695 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ims0";
	};

	post_fba_ims0 {
		compatible = "generic-uio";
		reg = <0 0xfe605000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ims0";
	};

	fba_ims1: fba@fe606000 {
		compatible = "generic-uio";
		reg = <0 0xfe606000 0 0x1000>;
		interrupts = <GIC_SPI 696 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ims1";
	};

	post_fba_ims1 {
		compatible = "generic-uio";
		reg = <0 0xfe606000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ims1";
	};

	fba_imr0: fba@fe601000 {
		compatible = "generic-uio";
		reg = <0 0xfe601000 0 0x1000>;
		interrupts = <GIC_SPI 691 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imr0";
	};

	post_fba_imr0 {
		compatible = "generic-uio";
		reg = <0 0xfe601000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imr0";
	};

	fba_imr1: fba@fe602000 {
		compatible = "generic-uio";
		reg = <0 0xfe602000 0 0x1000>;
		interrupts = <GIC_SPI 692 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imr1";
	};

	post_fba_imr1 {
		compatible = "generic-uio";
		reg = <0 0xfe602000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imr1";
	};

	fba_imr2: fba@fe603000 {
		compatible = "generic-uio";
		reg = <0 0xfe603000 0 0x1000>;
		interrupts = <GIC_SPI 693 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imr2";
	};

	post_fba_imr2 {
		compatible = "generic-uio";
		reg = <0 0xfe603000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imr2";
	};

	fba_imp0: fba@ff8c0000 {
		compatible = "generic-uio";
		reg = <0 0xff8c0000 0 0x1000>;
		interrupts = <GIC_SPI 713 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp0";
	};

	post_fba_imp0 {
		compatible = "generic-uio";
		reg = <0 0xff8c0000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp0";
	};

	fba_imp1: fba@ff8c1000 {
		compatible = "generic-uio";
		reg = <0 0xff8c1000 0 0x1000>;
		interrupts = <GIC_SPI 714 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp1";
	};

	post_fba_imp1 {
		compatible = "generic-uio";
		reg = <0 0xff8c1000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp1";
	};

	fba_imp2: fba@ff8c2000 {
		compatible = "generic-uio";
		reg = <0 0xff8c2000 0 0x1000>;
		interrupts = <GIC_SPI 715 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp2";
	};

	post_fba_imp2 {
		compatible = "generic-uio";
		reg = <0 0xff8c2000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp2";
	};

	fba_imp3: fba@ff8c3000 {
		compatible = "generic-uio";
		reg = <0 0xff8c3000 0 0x1000>;
		interrupts = <GIC_SPI 716 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp3";
	};

	post_fba_imp3 {
		compatible = "generic-uio";
		reg = <0 0xff8c3000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp3";
	};

	fba_imp_cve0: fba@ff8c4000 {
		compatible = "generic-uio";
		reg = <0 0xff8c4000 0 0x1000>;
		interrupts = <GIC_SPI 719 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_ocv0";
	};

	post_fba_imp_cve0 {
		compatible = "generic-uio";
		reg = <0 0xff8c4000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_ocv0";
	};

	fba_imp_cve1: fba@ff8c5000 {
		compatible = "generic-uio";
		reg = <0 0xff8c5000 0 0x1000>;
		interrupts = <GIC_SPI 720 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_ocv1";
	};

	post_fba_imp_cve1 {
		compatible = "generic-uio";
		reg = <0 0xff8c5000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_ocv1";
	};

	fba_imp_cve2: fba@ff8c6000 {
		compatible = "generic-uio";
		reg = <0 0xff8c6000 0 0x1000>;
		interrupts = <GIC_SPI 721 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_ocv2";
	};

	post_fba_imp_cve2 {
		compatible = "generic-uio";
		reg = <0 0xff8c6000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_ocv2";
	};

	fba_imp_cve3: fba@ff8c7000 {
		compatible = "generic-uio";
		reg = <0 0xff8c7000 0 0x1000>;
		interrupts = <GIC_SPI 722 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_ocv3";
	};

	post_fba_imp_cve3 {
		compatible = "generic-uio";
		reg = <0 0xff8c7000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_ocv3";
	};

	fba_imp_dp0: fba@fff56000 {
		compatible = "generic-uio";
		reg = <0 0xfff56000 0 0x1000>;
		interrupts = <GIC_SPI 717 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_dp0";
	};

	post_fba_imp_dp0 {
		compatible = "generic-uio";
		reg = <0 0xfff56000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_dp0";
	};

	fba_imp_dp1: fba@fff57000 {
		compatible = "generic-uio";
		reg = <0 0xfff57000 0 0x1000>;
		interrupts = <GIC_SPI 718 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_dp1";
	};

	post_fba_imp_dp1 {
		compatible = "generic-uio";
		reg = <0 0xfff57000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_dp1";
	};

	fba_imp_cnn0: fba@fff50000 {
		compatible = "generic-uio";
		reg = <0 0xfff50000 0 0x1000>;
		interrupts = <GIC_SPI 727 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_cnn0";
	};

	post_fba_imp_cnn0_main {
		compatible = "generic-uio";
		reg = <0 0xfff50000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_cnn0";
	};

	fba_imp_radsp0: fba@fff64000 {
		compatible = "generic-uio";
		reg = <0 0xfff64000 0 0x1000>;
		interrupts = <GIC_SPI 738 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_dsp0";
	};

	post_fba_imp_radsp0 {
		compatible = "generic-uio";
		reg = <0 0xfff64000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_dsp0";
	};

	fba_imp_radsp1: fba@fff65000 {
		compatible = "generic-uio";
		reg = <0 0xfff65000 0 0x1000>;
		interrupts = <GIC_SPI 739 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_dsp1";
	};

	post_fba_imp_radsp1 {
		compatible = "generic-uio";
		reg = <0 0xfff65000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_dsp1";
	};

	fba_imp_radsp2: fba@fff66000 {
		compatible = "generic-uio";
		reg = <0 0xfff66000 0 0x1000>;
		interrupts = <GIC_SPI 740 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_dsp2";
	};

	post_fba_imp_radsp2 {
		compatible = "generic-uio";
		reg = <0 0xfff66000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_dsp2";
	};

	fba_imp_radsp3: fba@fff67000 {
		compatible = "generic-uio";
		reg = <0 0xfff67000 0 0x1000>;
		interrupts = <GIC_SPI 741 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_dsp3";
	};

	post_fba_imp_radsp3 {
		compatible = "generic-uio";
		reg = <0 0xfff67000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_dsp3";
	};

	fba_imp_cnram0: fba@fff55000 {
		compatible = "generic-uio";
		reg = <0 0xfff55000 0 0x1000>;
		interrupts = <GIC_SPI 744 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_cnram0";
	};

	post_fba_imp_cnram0 {
		compatible = "generic-uio";
		reg = <0 0xfff55000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_cnram0";
	};

	fba_imp_slim0: fba@ff8f4000 {
		compatible = "generic-uio";
		reg = <0 0xff8f4000 0 0x1000>;
		interrupts = <GIC_SPI 745 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_slim0";
	};

	post_fba_imp_slim0 {
		compatible = "generic-uio";
		reg = <0 0xff8f4000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_slim0";
	};

	fba_imp_slim1: fba@ff8f5000 {
		compatible = "generic-uio";
		reg = <0 0xff8f5000 0 0x1000>;
		interrupts = <GIC_SPI 746 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_imp_slim1";
	};

	post_fba_imp_slim1 {
		compatible = "generic-uio";
		reg = <0 0xff8f5000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_imp_slim1";
	};

	fba_umfl0: fba@e7b61000 {
		compatible = "generic-uio";
		reg = <0 0xe7b61000 0 0x1000>;
		interrupts = <GIC_SPI 701 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_umfl0";
	};

	post_fba_umfl0 {
		compatible = "generic-uio";
		reg = <0 0xe7b61000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD4>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_umfl0";
	};

	fba_smps0: fba@e7b64000 {
		compatible = "generic-uio";
		reg = <0 0xe7b64000 0 0x1000>;
		interrupts = <GIC_SPI 703 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_smps0";
	};

	post_fba_smps0 {
		compatible = "generic-uio";
		reg = <0 0xe7b64000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD4>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_smps0";
	};

	fba_smpo0: fba@e7b63000 {
		compatible = "generic-uio";
		reg = <0 0xe7b63000 0 0x1000>;
		interrupts = <GIC_SPI 707 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_smpo0";
	};

	post_fba_smpo0 {
		compatible = "generic-uio";
		reg = <0 0xe7b63000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD4>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_smpo0";
	};

	fba_pap0: fba@e7b62000 {
		compatible = "generic-uio";
		reg = <0 0xe7b62000 0 0x1000>;
		interrupts = <GIC_SPI 699 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_pap0";
	};

	post_fba_pap0 {
		compatible = "generic-uio";
		reg = <0 0xe7b62000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD4>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_pap0";
	};

	fba_isp0: fba@feac1000 {
		compatible = "generic-uio";
		reg = <0 0xfeac1000 0 0x1000>;
		interrupts = <GIC_SPI 686 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_isp0";
	};

	post_fba_isp0 {
		compatible = "generic-uio";
		reg = <0 0xfeac1000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_isp0";
	};

	fba_isp1: fba@feac2000 {
		compatible = "generic-uio";
		reg = <0 0xfeac2000 0 0x1000>;
		interrupts = <GIC_SPI 687 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_isp1";
	};

	post_fba_isp1 {
		compatible = "generic-uio";
		reg = <0 0xfeac2000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCRT>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_isp1";
	};

	fba_ca76d0: fba@ff870000 {
		compatible = "generic-uio";
		reg = <0 0xff870000 0 0x1000>;
		interrupts = <GIC_SPI 669 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ca76d0";
	};

	post_fba_ca76d0 {
		compatible = "generic-uio";
		reg = <0 0xff870000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD1>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ca76d0";
	};

	fba_ca76d1: fba@ff873000 {
		compatible = "generic-uio";
		reg = <0 0xff873000 0 0x1000>;
		interrupts = <GIC_SPI 670 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ca76d1";
	};

	post_fba_ca76d1 {
		compatible = "generic-uio";
		reg = <0 0xff873000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD1>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ca76d1";
	};

	fba_ca760: fba@ff871000 {
		compatible = "generic-uio";
		reg = <0 0xff871000 0 0x1000>;
		interrupts = <GIC_SPI 671 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ca760";
	};

	post_fba_ca760 {
		compatible = "generic-uio";
		reg = <0 0xff871000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD1>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ca760";
	};

	fba_ca761: fba@ff872000 {
		compatible = "generic-uio";
		reg = <0 0xff872000 0 0x1000>;
		interrupts = <GIC_SPI 672 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ca761";
	};

	post_fba_ca761 {
		compatible = "generic-uio";
		reg = <0 0xff872000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD1>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ca761";
	};

	fba_ca762: fba@ff874000 {
		compatible = "generic-uio";
		reg = <0 0xff874000 0 0x1000>;
		interrupts = <GIC_SPI 673 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ca762";
	};

	post_fba_ca762 {
		compatible = "generic-uio";
		reg = <0 0xff874000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD1>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ca762";
	};

	fba_ca763: fba@ff875000 {
		compatible = "generic-uio";
		reg = <0 0xff875000 0 0x1000>;
		interrupts = <GIC_SPI 674 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "fba_ca763";
	};

	post_fba_ca763 {
		compatible = "generic-uio";
		reg = <0 0xff875000 0 0x1000>;
		clocks = <&cpg CPG_CORE R8A779G0_CLK_SASYNCPERD1>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "post_fba_ca763";
	};

	rfso0: rfso@ffe80000 {
		compatible = "generic-uio";
		reg = <0 0xffe80000 0 0x1000>;
		interrupts = <GIC_SPI 227 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_00";
	};

	rfso1: rfso@ffe81000 {
		compatible = "generic-uio";
		reg = <0 0xffe81000 0 0x1000>;
		interrupts = <GIC_SPI 228 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_01";
	};

	rfso2: rfso@ffe82000 {
		compatible = "generic-uio";
		reg = <0 0xffe82000 0 0x1000>;
		interrupts = <GIC_SPI 229 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_02";
	};

	rfso3: rfso@ffe83000 {
		compatible = "generic-uio";
		reg = <0 0xffe83000 0 0x1000>;
		interrupts = <GIC_SPI 230 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_03";
	};

	rfso4: rfso@ffe84000 {
		compatible = "generic-uio";
		reg = <0 0xffe84000 0 0x1000>;
		interrupts = <GIC_SPI 231 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_04";
	};

	rfso5: rfso@ffe85000 {
		compatible = "generic-uio";
		reg = <0 0xffe85000 0 0x1000>;
		interrupts = <GIC_SPI 232 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_05";
	};

	rfso6: rfso@ffe86000 {
		compatible = "generic-uio";
		reg = <0 0xffe86000 0 0x1000>;
		interrupts = <GIC_SPI 233 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_06";
	};

	rfso7: rfso@ffe87000 {
		compatible = "generic-uio";
		reg = <0 0xffe87000 0 0x1000>;
		interrupts = <GIC_SPI 234 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_07";
	};

	rfso8: rfso@ffe88000 {
		compatible = "generic-uio";
		reg = <0 0xffe88000 0 0x1000>;
		interrupts = <GIC_SPI 235 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_08";
	};

	rfso9: rfso@ffe89000 {
		compatible = "generic-uio";
		reg = <0 0xffe89000 0 0x1000>;
		interrupts = <GIC_SPI 236 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_09";
	};

	rfso10: rfso@ffe8a000 {
		compatible = "generic-uio";
		reg = <0 0xffe8a000 0 0x1000>;
		interrupts = <GIC_SPI 237 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rfso_10";
	};

	ipmmu_mm0 {
		compatible = "generic-uio";
		reg = <0 0xeefc0000 0 0x20000>;
		interrupts = <GIC_SPI 210 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_mm_00";
	};

	ipmmu_mm0_01 {
		compatible = "generic-uio";
		reg = <0 0xeefc0000 0 0x20000>;
		interrupts = <GIC_SPI 211 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_ipmmu_mm_00_01";
	};

	ipmmu_cache_vi0 {
		compatible = "generic-uio";
		reg = <0 0xeee80000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_vi0";
	};

	ipmmu_cache_vi1 {
		compatible = "generic-uio";
		reg = <0 0xeeec0000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_vi1";
	};

	ipmmu_cache_vc {
		compatible = "generic-uio";
		reg = <0 0xeedc0000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_vc";
	};

	ipmmu_cache_ir {
		compatible = "generic-uio";
		reg = <0 0xeed80000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_A3IR>;
		linux,uio-name = "ipmmu_cache_ir";
	};

	ipmmu_cache_rt0 {
		compatible = "generic-uio";
		reg = <0 0xee480000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_rt0";
	};

	ipmmu_cache_rt1 {
		compatible = "generic-uio";
		reg = <0 0xee4c0000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_rt1";
	};

	ipmmu_cache_ds0 {
		compatible = "generic-uio";
		reg = <0 0xeed00000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_ds0";
	};

	ipmmu_cache_hsc {
		compatible = "generic-uio";
		reg = <0 0xeed40000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_hsc";
	};

	ipmmu_cache_vip0 {
		compatible = "generic-uio";
		reg = <0 0xeef00000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_vip0";
	};

	ipmmu_cache_vip1 {
		compatible = "generic-uio";
		reg = <0 0xeef40000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_vip1";
	};

	ipmmu_cache_3dg {
		compatible = "generic-uio";
		reg = <0 0xeee00000 0 0x20000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ipmmu_cache_3dg";
	};

	caiplite_wrapper {
		compatible = "generic-uio";
		clocks = <&cpg CPG_MOD 720>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 720>;
		linux,uio-name = "caiplite_wrapper_00";
	};

	caiplite0 {
		compatible = "generic-uio";
		reg = <0 0xe7800000 0 0x1000>;
		interrupts = <GIC_SPI 900 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 721>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 721>;
		linux,uio-name = "caiplite_00";
	};

	caiplite1 {
		compatible = "generic-uio";
		reg = <0 0xe7801000 0 0x1000>;
		interrupts = <GIC_SPI 902 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 722>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 722>;
		linux,uio-name = "caiplite_01";
	};

	caiplite2 {
		compatible = "generic-uio";
		reg = <0 0xe7802000 0 0x1000>;
		interrupts = <GIC_SPI 904 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 723>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 723>;
		linux,uio-name = "caiplite_02";
	};

	caiplite3 {
		compatible = "generic-uio";
		reg = <0 0xe7803000 0 0x1000>;
		interrupts = <GIC_SPI 906 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 724>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 724>;
		linux,uio-name = "caiplite_03";
	};

	caiplite4 {
		compatible = "generic-uio";
		reg = <0 0xe7804000 0 0x1000>;
		interrupts = <GIC_SPI 908 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 725>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 725>;
		linux,uio-name = "caiplite_04";
	};

	caiplite5 {
		compatible = "generic-uio";
		reg = <0 0xe7805000 0 0x1000>;
		interrupts = <GIC_SPI 910 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 726>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 726>;
		linux,uio-name = "caiplite_05";
	};

	caiplite6 {
		compatible = "generic-uio";
		reg = <0 0xe7806000 0 0x1000>;
		interrupts = <GIC_SPI 912 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 727>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 727>;
		linux,uio-name = "caiplite_06";
	};

	caiplite7 {
		compatible = "generic-uio";
		reg = <0 0xe7807000 0 0x1000>;
		interrupts = <GIC_SPI 914 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 728>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 728>;
		linux,uio-name = "caiplite_07";
	};

	wcrc_caiplite0 {
		compatible = "generic-uio";
		reg = <0 0xe7080000 0 0x1000>;
		clocks = <&cpg CPG_MOD 903>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 903>;
		linux,uio-name = "wcrc_caiplite_00";
	};

	wcrc_caiplite1 {
		compatible = "generic-uio";
		reg = <0 0xe7090000 0 0x1000>;
		clocks = <&cpg CPG_MOD 904>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 904>;
		linux,uio-name = "wcrc_caiplite_01";
	};

	wcrc_caiplite2 {
		compatible = "generic-uio";
		reg = <0 0xe70a0000 0 0x1000>;
		clocks = <&cpg CPG_MOD 905>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 905>;
		linux,uio-name = "wcrc_caiplite_02";
	};

	wcrc_caiplite3 {
		compatible = "generic-uio";
		reg = <0 0xe70b0000 0 0x1000>;
		clocks = <&cpg CPG_MOD 906>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 906>;
		linux,uio-name = "wcrc_caiplite_03";
	};

	rtdmac_control0_00: rtdmac_control@ffc10000 {
		compatible = "generic-uio";
		reg = <0 0xffc10000 0 0x1000>;
		interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_00";
		ipmmu-id = <RCAR_IPMMU_RT1 0>;
		iommus = <&ipmmu_rt1 0>;
	};

	rtdmac_control0_01: rtdmac_control@ffc11000 {
		compatible = "generic-uio";
		reg = <0 0xffc11000 0 0x1000>;
		interrupts = <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_01";
		ipmmu-id = <RCAR_IPMMU_RT1 1>;
		iommus = <&ipmmu_rt1 1>;
	};

	rtdmac_control0_02: rtdmac_control@ffc12000 {
		compatible = "generic-uio";
		reg = <0 0xffc12000 0 0x1000>;
		interrupts = <GIC_SPI 12 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_02";
		ipmmu-id = <RCAR_IPMMU_RT1 2>;
		iommus = <&ipmmu_rt1 2>;
	};

	rtdmac_control0_03: rtdmac_control@ffc13000 {
		compatible = "generic-uio";
		reg = <0 0xffc13000 0 0x1000>;
		interrupts = <GIC_SPI 13 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_03";
		ipmmu-id = <RCAR_IPMMU_RT1 3>;
		iommus = <&ipmmu_rt1 3>;
	};

	rtdmac_control0_04: rtdmac_control@ffc14000 {
		compatible = "generic-uio";
		reg = <0 0xffc14000 0 0x1000>;
		interrupts = <GIC_SPI 14 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_04";
		ipmmu-id = <RCAR_IPMMU_RT1 4>;
		iommus = <&ipmmu_rt1 4>;
	};

	rtdmac_control0_05: rtdmac_control@ffc15000 {
		compatible = "generic-uio";
		reg = <0 0xffc15000 0 0x1000>;
		interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_05";
		ipmmu-id = <RCAR_IPMMU_RT1 5>;
		iommus = <&ipmmu_rt1 5>;
	};

	rtdmac_control0_06: rtdmac_control@ffc16000 {
		compatible = "generic-uio";
		reg = <0 0xffc16000 0 0x1000>;
		interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_06";
		ipmmu-id = <RCAR_IPMMU_RT1 6>;
		iommus = <&ipmmu_rt1 6>;
	};

	rtdmac_control0_07: rtdmac_control@ffc17000 {
		compatible = "generic-uio";
		reg = <0 0xffc17000 0 0x1000>;
		interrupts = <GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_07";
		ipmmu-id = <RCAR_IPMMU_RT1 7>;
		iommus = <&ipmmu_rt1 7>;
	};

	rtdmac_control0_08: rtdmac_control@ffc18000 {
		compatible = "generic-uio";
		reg = <0 0xffc18000 0 0x1000>;
		interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_08";
		ipmmu-id = <RCAR_IPMMU_RT1 8>;
		iommus = <&ipmmu_rt1 8>;
	};

	rtdmac_control0_09: rtdmac_control@ffc19000 {
		compatible = "generic-uio";
		reg = <0 0xffc19000 0 0x1000>;
		interrupts = <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_09";
		ipmmu-id = <RCAR_IPMMU_RT1 9>;
		iommus = <&ipmmu_rt1 9>;
	};

	rtdmac_control0_10: rtdmac_control@ffc1a000 {
		compatible = "generic-uio";
		reg = <0 0xffc1a000 0 0x1000>;
		interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_10";
		ipmmu-id = <RCAR_IPMMU_RT1 10>;
		iommus = <&ipmmu_rt1 10>;
	};

	rtdmac_control0_11: rtdmac_control@ffc1b000 {
		compatible = "generic-uio";
		reg = <0 0xffc1b000 0 0x1000>;
		interrupts = <GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_11";
		ipmmu-id = <RCAR_IPMMU_RT1 11>;
		iommus = <&ipmmu_rt1 11>;
	};

	rtdmac_control0_12: rtdmac_control@ffc1c000 {
		compatible = "generic-uio";
		reg = <0 0xffc1c000 0 0x1000>;
		interrupts = <GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_12";
		ipmmu-id = <RCAR_IPMMU_RT1 12>;
		iommus = <&ipmmu_rt1 12>;
	};

	rtdmac_control0_13: rtdmac_control@ffc1d000 {
		compatible = "generic-uio";
		reg = <0 0xffc1d000 0 0x1000>;
		interrupts = <GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_13";
		ipmmu-id = <RCAR_IPMMU_RT1 13>;
		iommus = <&ipmmu_rt1 13>;
	};

	rtdmac_control0_14: rtdmac_control@ffc1e000 {
		compatible = "generic-uio";
		reg = <0 0xffc1e000 0 0x1000>;
		interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_14";
		ipmmu-id = <RCAR_IPMMU_RT1 14>;
		iommus = <&ipmmu_rt1 14>;
	};

	rtdmac_control0_15: rtdmac_control@ffc1f000 {
		compatible = "generic-uio";
		reg = <0 0xffc1f000 0 0x1000>;
		interrupts = <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control0_15";
		ipmmu-id = <RCAR_IPMMU_RT1 15>;
		iommus = <&ipmmu_rt1 15>;
	};

	rtdmac_control1_00: rtdmac_control@ffc20000 {
		compatible = "generic-uio";
		reg = <0 0xffc20000 0 0x1000>;
		interrupts = <GIC_SPI 28 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_00";
		ipmmu-id = <RCAR_IPMMU_RT1 16>;
		iommus = <&ipmmu_rt1 16>;
	};

	rtdmac_control1_01: rtdmac_control@ffc21000 {
		compatible = "generic-uio";
		reg = <0 0xffc21000 0 0x1000>;
		interrupts = <GIC_SPI 29 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_01";
		ipmmu-id = <RCAR_IPMMU_RT1 17>;
		iommus = <&ipmmu_rt1 17>;
	};

	rtdmac_control1_02: rtdmac_control@ffc22000 {
		compatible = "generic-uio";
		reg = <0 0xffc22000 0 0x1000>;
		interrupts = <GIC_SPI 30 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_02";
		ipmmu-id = <RCAR_IPMMU_RT1 18>;
		iommus = <&ipmmu_rt1 18>;
	};

	rtdmac_control1_03: rtdmac_control@ffc23000 {
		compatible = "generic-uio";
		reg = <0 0xffc23000 0 0x1000>;
		interrupts = <GIC_SPI 31 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_03";
		ipmmu-id = <RCAR_IPMMU_RT1 19>;
		iommus = <&ipmmu_rt1 19>;
	};

	rtdmac_control1_04: rtdmac_control@ffc24000 {
		compatible = "generic-uio";
		reg = <0 0xffc24000 0 0x1000>;
		interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_04";
		ipmmu-id = <RCAR_IPMMU_RT1 20>;
		iommus = <&ipmmu_rt1 20>;
	};

	rtdmac_control1_05: rtdmac_control@ffc25000 {
		compatible = "generic-uio";
		reg = <0 0xffc25000 0 0x1000>;
		interrupts = <GIC_SPI 33 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_05";
		ipmmu-id = <RCAR_IPMMU_RT1 21>;
		iommus = <&ipmmu_rt1 21>;
	};

	rtdmac_control1_06: rtdmac_control@ffc26000 {
		compatible = "generic-uio";
		reg = <0 0xffc26000 0 0x1000>;
		interrupts = <GIC_SPI 34 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_06";
		ipmmu-id = <RCAR_IPMMU_RT1 22>;
		iommus = <&ipmmu_rt1 22>;
	};

	rtdmac_control1_07: rtdmac_control@ffc27000 {
		compatible = "generic-uio";
		reg = <0 0xffc27000 0 0x1000>;
		interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_07";
		ipmmu-id = <RCAR_IPMMU_RT1 23>;
		iommus = <&ipmmu_rt1 23>;
	};

	rtdmac_control1_08: rtdmac_control@ffc28000 {
		compatible = "generic-uio";
		reg = <0 0xffc28000 0 0x1000>;
		interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_08";
		ipmmu-id = <RCAR_IPMMU_RT1 24>;
		iommus = <&ipmmu_rt1 24>;
	};

	rtdmac_control1_09: rtdmac_control@ffc29000 {
		compatible = "generic-uio";
		reg = <0 0xffc29000 0 0x1000>;
		interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_09";
		ipmmu-id = <RCAR_IPMMU_RT1 25>;
		iommus = <&ipmmu_rt1 25>;
	};

	rtdmac_control1_10: rtdmac_control@ffc2a000 {
		compatible = "generic-uio";
		reg = <0 0xffc2a000 0 0x1000>;
		interrupts = <GIC_SPI 38 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_10";
		ipmmu-id = <RCAR_IPMMU_RT1 26>;
		iommus = <&ipmmu_rt1 26>;
	};

	rtdmac_control1_11: rtdmac_control@ffc2b000 {
		compatible = "generic-uio";
		reg = <0 0xffc2b000 0 0x1000>;
		interrupts = <GIC_SPI 39 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_11";
		ipmmu-id = <RCAR_IPMMU_RT1 27>;
		iommus = <&ipmmu_rt1 27>;
	};

	rtdmac_control1_12: rtdmac_control@ffc2c000 {
		compatible = "generic-uio";
		reg = <0 0xffc2c000 0 0x1000>;
		interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_12";
		ipmmu-id = <RCAR_IPMMU_RT1 28>;
		iommus = <&ipmmu_rt1 28>;
	};

	rtdmac_control1_13: rtdmac_control@ffc2d000 {
		compatible = "generic-uio";
		reg = <0 0xffc2d000 0 0x1000>;
		interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_13";
		ipmmu-id = <RCAR_IPMMU_RT1 29>;
		iommus = <&ipmmu_rt1 29>;
	};

	rtdmac_control1_14: rtdmac_control@ffc2e000 {
		compatible = "generic-uio";
		reg = <0 0xffc2e000 0 0x1000>;
		interrupts = <GIC_SPI 42 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_14";
		ipmmu-id = <RCAR_IPMMU_RT1 30>;
		iommus = <&ipmmu_rt1 30>;
	};

	rtdmac_control1_15: rtdmac_control@ffc2f000 {
		compatible = "generic-uio";
		reg = <0 0xffc2f000 0 0x1000>;
		interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control1_15";
		ipmmu-id = <RCAR_IPMMU_RT1 31>;
		iommus = <&ipmmu_rt1 31>;
	};

	rtdmac_control2_00: rtdmac_control@ffd70000 {
		compatible = "generic-uio";
		reg = <0 0xffd70000 0 0x1000>;
		interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_00";
		ipmmu-id = <RCAR_IPMMU_RT1 32>;
		iommus = <&ipmmu_rt1 32>;
	};

	rtdmac_control2_01: rtdmac_control@ffd71000 {
		compatible = "generic-uio";
		reg = <0 0xffd71000 0 0x1000>;
		interrupts = <GIC_SPI 47 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_01";
		ipmmu-id = <RCAR_IPMMU_RT1 33>;
		iommus = <&ipmmu_rt1 33>;
	};

	rtdmac_control2_02: rtdmac_control@ffd72000 {
		compatible = "generic-uio";
		reg = <0 0xffd72000 0 0x1000>;
		interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_02";
		ipmmu-id = <RCAR_IPMMU_RT1 34>;
		iommus = <&ipmmu_rt1 34>;
	};

	rtdmac_control2_03: rtdmac_control@ffd73000 {
		compatible = "generic-uio";
		reg = <0 0xffd73000 0 0x1000>;
		interrupts = <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_03";
		ipmmu-id = <RCAR_IPMMU_RT1 35>;
		iommus = <&ipmmu_rt1 35>;
	};

	rtdmac_control2_04: rtdmac_control@ffd74000 {
		compatible = "generic-uio";
		reg = <0 0xffd74000 0 0x1000>;
		interrupts = <GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_04";
		ipmmu-id = <RCAR_IPMMU_RT1 36>;
		iommus = <&ipmmu_rt1 36>;
	};

	rtdmac_control2_05: rtdmac_control@ffd75000 {
		compatible = "generic-uio";
		reg = <0 0xffd75000 0 0x1000>;
		interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_05";
		ipmmu-id = <RCAR_IPMMU_RT1 37>;
		iommus = <&ipmmu_rt1 37>;
	};

	rtdmac_control2_06: rtdmac_control@ffd76000 {
		compatible = "generic-uio";
		reg = <0 0xffd76000 0 0x1000>;
		interrupts = <GIC_SPI 52 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_06";
		ipmmu-id = <RCAR_IPMMU_RT1 38>;
		iommus = <&ipmmu_rt1 38>;
	};

	rtdmac_control2_07: rtdmac_control@ffd77000 {
		compatible = "generic-uio";
		reg = <0 0xffd77000 0 0x1000>;
		interrupts = <GIC_SPI 53 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_07";
		ipmmu-id = <RCAR_IPMMU_RT1 39>;
		iommus = <&ipmmu_rt1 39>;
	};

	rtdmac_control2_08: rtdmac_control@ffd78000 {
		compatible = "generic-uio";
		reg = <0 0xffd78000 0 0x1000>;
		interrupts = <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_08";
		ipmmu-id = <RCAR_IPMMU_RT1 40>;
		iommus = <&ipmmu_rt1 40>;
	};

	rtdmac_control2_09: rtdmac_control@ffd79000 {
		compatible = "generic-uio";
		reg = <0 0xffd79000 0 0x1000>;
		interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_09";
		ipmmu-id = <RCAR_IPMMU_RT1 41>;
		iommus = <&ipmmu_rt1 41>;
	};

	rtdmac_control2_10: rtdmac_control@ffd7a000 {
		compatible = "generic-uio";
		reg = <0 0xffd7a000 0 0x1000>;
		interrupts = <GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_10";
		ipmmu-id = <RCAR_IPMMU_RT1 42>;
		iommus = <&ipmmu_rt1 42>;
	};

	rtdmac_control2_11: rtdmac_control@ffd7b000 {
		compatible = "generic-uio";
		reg = <0 0xffd7b000 0 0x1000>;
		interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_11";
		ipmmu-id = <RCAR_IPMMU_RT1 43>;
		iommus = <&ipmmu_rt1 43>;
	};

	rtdmac_control2_12: rtdmac_control@ffd7c000 {
		compatible = "generic-uio";
		reg = <0 0xffd7c000 0 0x1000>;
		interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_12";
		ipmmu-id = <RCAR_IPMMU_RT1 44>;
		iommus = <&ipmmu_rt1 44>;
	};

	rtdmac_control2_13: rtdmac_control@ffd7d000 {
		compatible = "generic-uio";
		reg = <0 0xffd7d000 0 0x1000>;
		interrupts = <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_13";
		ipmmu-id = <RCAR_IPMMU_RT1 45>;
		iommus = <&ipmmu_rt1 45>;
	};

	rtdmac_control2_14: rtdmac_control@ffd7e000 {
		compatible = "generic-uio";
		reg = <0 0xffd7e000 0 0x1000>;
		interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_14";
		ipmmu-id = <RCAR_IPMMU_RT1 46>;
		iommus = <&ipmmu_rt1 46>;
	};

	rtdmac_control2_15: rtdmac_control@ffd7f000 {
		compatible = "generic-uio";
		reg = <0 0xffd7f000 0 0x1000>;
		interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control2_15";
		ipmmu-id = <RCAR_IPMMU_RT1 47>;
		iommus = <&ipmmu_rt1 47>;
	};

	rtdmac_control3_00: rtdmac_control@ffd80000 {
		compatible = "generic-uio";
		reg = <0 0xffd80000 0 0x1000>;
		interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_00";
		ipmmu-id = <RCAR_IPMMU_RT1 48>;
		iommus = <&ipmmu_rt1 48>;
	};

	rtdmac_control3_01: rtdmac_control@ffd81000 {
		compatible = "generic-uio";
		reg = <0 0xffd81000 0 0x1000>;
		interrupts = <GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_01";
		ipmmu-id = <RCAR_IPMMU_RT1 49>;
		iommus = <&ipmmu_rt1 49>;
	};

	rtdmac_control3_02: rtdmac_control@ffd82000 {
		compatible = "generic-uio";
		reg = <0 0xffd82000 0 0x1000>;
		interrupts = <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_02";
		ipmmu-id = <RCAR_IPMMU_RT1 50>;
		iommus = <&ipmmu_rt1 50>;
	};

	rtdmac_control3_03: rtdmac_control@ffd83000 {
		compatible = "generic-uio";
		reg = <0 0xffd83000 0 0x1000>;
		interrupts = <GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_03";
		ipmmu-id = <RCAR_IPMMU_RT1 51>;
		iommus = <&ipmmu_rt1 51>;
	};

	rtdmac_control3_04: rtdmac_control@ffd84000 {
		compatible = "generic-uio";
		reg = <0 0xffd84000 0 0x1000>;
		interrupts = <GIC_SPI 68 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_04";
		ipmmu-id = <RCAR_IPMMU_RT1 52>;
		iommus = <&ipmmu_rt1 52>;
	};

	rtdmac_control3_05: rtdmac_control@ffd85000 {
		compatible = "generic-uio";
		reg = <0 0xffd85000 0 0x1000>;
		interrupts = <GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_05";
		ipmmu-id = <RCAR_IPMMU_RT1 53>;
		iommus = <&ipmmu_rt1 53>;
	};


	rtdmac_control3_06: rtdmac_control@ffd86000 {
		compatible = "generic-uio";
		reg = <0 0xffd86000 0 0x1000>;
		interrupts = <GIC_SPI 70 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_06";
		ipmmu-id = <RCAR_IPMMU_RT1 54>;
		iommus = <&ipmmu_rt1 54>;
	};

	rtdmac_control3_07: rtdmac_control@ffd87000 {
		compatible = "generic-uio";
		reg = <0 0xffd87000 0 0x1000>;
		interrupts = <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_07";
		ipmmu-id = <RCAR_IPMMU_RT1 55>;
		iommus = <&ipmmu_rt1 55>;
	};

	rtdmac_control3_08: rtdmac_control@ffd88000 {
		compatible = "generic-uio";
		reg = <0 0xffd88000 0 0x1000>;
		interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_08";
		ipmmu-id = <RCAR_IPMMU_RT1 56>;
		iommus = <&ipmmu_rt1 56>;
	};

	rtdmac_control3_09: rtdmac_control@ffd89000 {
		compatible = "generic-uio";
		reg = <0 0xffd89000 0 0x1000>;
		interrupts = <GIC_SPI 73 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_09";
		ipmmu-id = <RCAR_IPMMU_RT1 57>;
		iommus = <&ipmmu_rt1 57>;
	};

	rtdmac_control3_10: rtdmac_control@ffd8a000 {
		compatible = "generic-uio";
		reg = <0 0xffd8a000 0 0x1000>;
		interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_10";
		ipmmu-id = <RCAR_IPMMU_RT1 58>;
		iommus = <&ipmmu_rt1 58>;
	};

	rtdmac_control3_11: rtdmac_control@ffd8b000 {
		compatible = "generic-uio";
		reg = <0 0xffd8b000 0 0x1000>;
		interrupts = <GIC_SPI 75 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_11";
		ipmmu-id = <RCAR_IPMMU_RT1 59>;
		iommus = <&ipmmu_rt1 59>;
	};

	rtdmac_control3_12: rtdmac_control@ffd8c000 {
		compatible = "generic-uio";
		reg = <0 0xffd8c000 0 0x1000>;
		interrupts = <GIC_SPI 76 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_12";
		ipmmu-id = <RCAR_IPMMU_RT1 60>;
		iommus = <&ipmmu_rt1 60>;
	};

	rtdmac_control3_13: rtdmac_control@ffd8d000 {
		compatible = "generic-uio";
		reg = <0 0xffd8d000 0 0x1000>;
		interrupts = <GIC_SPI 77 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_13";
		ipmmu-id = <RCAR_IPMMU_RT1 61>;
		iommus = <&ipmmu_rt1 61>;
	};

	rtdmac_control3_14: rtdmac_control@ffd8e000 {
		compatible = "generic-uio";
		reg = <0 0xffd8e000 0 0x1000>;
		interrupts = <GIC_SPI 78 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_14";
		ipmmu-id = <RCAR_IPMMU_RT1 62>;
		iommus = <&ipmmu_rt1 62>;
	};

	rtdmac_control3_15: rtdmac_control@ffd8f000 {
		compatible = "generic-uio";
		reg = <0 0xffd8f000 0 0x1000>;
		interrupts = <GIC_SPI 79 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "rtdmac_control3_15";
		ipmmu-id = <RCAR_IPMMU_RT1 63>;
		iommus = <&ipmmu_rt1 63>;
	};

	rtdmac_descriptor0: rtdmac_descriptor@ffd60000 {
		compatible = "generic-uio";
		reg = <0 0xffd60000 0 0x1000>;
		clocks = <&cpg CPG_MOD 630>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 630>;
		linux,uio-name = "rtdmac_descriptor0_00";
	};

	rtdmac_descriptor1: rtdmac_descriptor@ffd61000 {
		compatible = "generic-uio";
		reg = <0 0xffd61000 0 0x1000>;
		clocks = <&cpg CPG_MOD 631>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 631>;
		linux,uio-name = "rtdmac_descriptor1_00";
	};

	rtdmac_descriptor2: rtdmac_descriptor@ffd62000 {
		compatible = "generic-uio";
		reg = <0 0xffd62000 0 0x1000>;
		clocks = <&cpg CPG_MOD 700>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 700>;
		linux,uio-name = "rtdmac_descriptor2_00";
	};

	rtdmac_descriptor3: rtdmac_descriptor@ffd63000 {
		compatible = "generic-uio";
		reg = <0 0xffd63000 0 0x1000>;
		clocks = <&cpg CPG_MOD 701>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		resets = <&cpg 701>;
		linux,uio-name = "rtdmac_descriptor3_00";
	};

	wwdt0: wwdt@ffc90000 {
		compatible = "generic-uio";
		reg = <0 0xffc90000 0 0x10000>;
		interrupts = <GIC_SPI 310 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_00";
	};

	wwdt0_01 {
		compatible = "generic-uio";
		reg = <0 0xffc90000 0 0x10000>;
		interrupts = <GIC_SPI 311 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_00_01";
	};

	wwdt1: wwdt@ffca0000 {
		compatible = "generic-uio";
		reg = <0 0xffca0000 0 0x10000>;
		interrupts = <GIC_SPI 312 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_01";
	};

	wwdt1_01 {
		compatible = "generic-uio";
		reg = <0 0xffca0000 0 0x10000>;
		interrupts = <GIC_SPI 313 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_01_01";
	};

	wwdt2: wwdt@ffcb0000 {
		compatible = "generic-uio";
		reg = <0 0xffcb0000 0 0x10000>;
		interrupts = <GIC_SPI 314 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_02";
	};

	wwdt2_01 {
		compatible = "generic-uio";
		reg = <0 0xffcb0000 0 0x10000>;
		interrupts = <GIC_SPI 315 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_02_01";
	};

	wwdt3: wwdt@ffcc0000 {
		compatible = "generic-uio";
		reg = <0 0xffcc0000 0 0x10000>;
		interrupts = <GIC_SPI 316 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_03";
	};

	wwdt3_01 {
		compatible = "generic-uio";
		reg = <0 0xffcc0000 0 0x10000>;
		interrupts = <GIC_SPI 317 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_03_01";
	};

	wwdt4: wwdt@ffcf0000 {
		compatible = "generic-uio";
		reg = <0 0xffcf0000 0 0x10000>;
		interrupts = <GIC_SPI 318 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_04";
	};

	wwdt4_01 {
		compatible = "generic-uio";
		reg = <0 0xffcf0000 0 0x10000>;
		interrupts = <GIC_SPI 319 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_04_01";
	};

	wwdt5: wwdt@ffef0000 {
		compatible = "generic-uio";
		reg = <0 0xffef0000 0 0x10000>;
		interrupts = <GIC_SPI 320 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_05";
	};

	wwdt5_01 {
		compatible = "generic-uio";
		reg = <0 0xffef0000 0 0x10000>;
		interrupts = <GIC_SPI 321 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_05_01";
	};

	wwdt6: wwdt@fff10000 {
		compatible = "generic-uio";
		reg = <0 0xfff10000 0 0x10000>;
		interrupts = <GIC_SPI 322 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_06";
	};

	wwdt6_01 {
		compatible = "generic-uio";
		reg = <0 0xfff10000 0 0x10000>;
		interrupts = <GIC_SPI 323 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_06_01";
	};

	wwdt7: wwdt@fff20000 {
		compatible = "generic-uio";
		reg = <0 0xfff20000 0 0x10000>;
		interrupts = <GIC_SPI 324 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_07";
	};

	wwdt7_01 {
		compatible = "generic-uio";
		reg = <0 0xfff20000 0 0x10000>;
		interrupts = <GIC_SPI 325 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_07_01";
	};

	wwdt8: wwdt@fff30000 {
		compatible = "generic-uio";
		reg = <0 0xfff30000 0 0x10000>;
		interrupts = <GIC_SPI 326 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_08";
	};

	wwdt8_01 {
		compatible = "generic-uio";
		reg = <0 0xfff30000 0 0x10000>;
		interrupts = <GIC_SPI 327 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_08_01";
	};

	wwdt9: wwdt@fff40000 {
		compatible = "generic-uio";
		reg = <0 0xfff40000 0 0x10000>;
		interrupts = <GIC_SPI 328 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "wwdt_09";
	};

	wwdt9_01 {
		compatible = "generic-uio";
		reg = <0 0xfff40000 0 0x10000>;
		interrupts = <GIC_SPI 329 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_wwdt_09_01";
	};

	hsm0: hsm@ff000000 {
		compatible = "generic-uio";
		reg = <0 0xff000000 0 0x80000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		resets = <&cpg 2806>;
		linux,uio-name = "hsm_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	dcm0: dcm@ff080000 {
		compatible = "generic-uio";
		reg = <0 0xff080000 0 0x64000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "dcm_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	cbf0: cbf@ff0e8000 {
		compatible = "generic-uio";
		reg = <0 0xff0e8000 0 0x3000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "cbf_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	sbf0: sbf@ff0ec000 {
		compatible = "generic-uio";
		reg = <0 0xff0ec000 0 0x4000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "sbf_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	osm: osm@ff0f0000 {
		compatible = "generic-uio";
		reg = <0 0xff0f0000 0 0x10000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "osm_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	ism0: ism@ff100000 {
		compatible = "generic-uio";
		reg = <0 0xff100000 0 0x20000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "ism_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	ism1: ism@ff120000 {
		compatible = "generic-uio";
		reg = <0 0xff120000 0 0x20000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "ism_01";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	sdmac0: sdma@ff180000 {
		compatible = "generic-uio";
		reg = <0 0xff180000 0 0x10000>;
		interrupts = <GIC_SPI 213 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2807>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		resets = <&cpg 2807>;
		linux,uio-name = "sdmac_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	sdmac0_01 {
		compatible = "generic-uio";
		reg = <0 0xff180000 0 0x10000>;
		interrupts = <GIC_SPI 214 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2807>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2807>;
		*/
		linux,uio-name = "irq_sdmac_00_01";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	fbs: fbs@ff200000 {
		compatible = "generic-uio";
		reg = <0 0xff200000 0 0x80000>;
		interrupts = <GIC_SPI 223 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "fbs_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	apb: apb@ff290000 {
		compatible = "generic-uio";
		reg = <0 0xff290000 0 0x4000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "apb_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	dul: dul@ff298000 {
		compatible = "generic-uio";
		reg = <0 0xff298000 0 0x1000>;
		clocks = <&cpg CPG_MOD 2806>;
		power-domains = <&sysc R8A779G0_PD_A3DUL>;
		/**
		* Unsupported control multiple nodes to the same reset resource
		* resets = <&cpg 2806>;
		*/
		linux,uio-name = "dul_00";
		ipmmu-id = <RCAR_IPMMU_VIP1 16>;
		iommus = <&ipmmu_vip1 16>;
	};

	ecm: ecm@e6250000 {
		compatible = "generic-uio";
		reg = <0 0xe6250000 0 0x1000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "ecm_00";
	};

	system_ram: systemram@e6300000 {
		compatible = "generic-uio";
		reg = <0 0xe6300000 0 0x100000>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "system_ram_00";
	};

	icumx_cmd0: icumx_cmd@e6610000 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 878 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
		linux,uio-name = "icumx_cmd_00";
		ipmmu-id = <RCAR_IPMMU_RT0 1>;
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_01 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 879 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_01";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_02 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 880 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_02";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_03 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 881 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_03";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_04 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 882 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_04";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_05 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 883 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_05";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_06 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 884 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_06";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_07 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 885 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_07";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_08 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 886 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_08";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_09 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 887 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_09";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_10 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 888 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_10";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_11 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 889 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_11";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_12 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 890 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_12";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_13 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 891 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_13";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_14 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 892 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_14";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_15 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 893 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_15";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_16 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 894 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_16";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_17 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 895 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_17";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_18 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 896 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_18";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	icumx_cmd0_19 {
		compatible = "generic-uio";
		reg = <0 0xe6610000 0 0x8000>;
		interrupts = <GIC_SPI 897 IRQ_TYPE_LEVEL_HIGH>;
		linux,uio-name = "irq_icumx_cmd_00_19";
		iommus = <&ipmmu_rt0 1>, <&ipmmu_rt0 2>;
	};

	chipid0: prr@fff00044 {
		compatible = "generic-uio";
		reg = <0 0xfff00044 0 0x1000>;
		linux,uio-name = "chipid_00";
	};

	qos0: qos0@e67e0000 {
		compatible = "generic-uio";
		reg = <0 0xe67e0000 0 0x11000>;
		linux,uio-name = "qos_00";
	};

	rcarbusmoni0: rcarbusmoni0@e67e0000 {
		compatible = "generic-uio";
		reg = <0 0xe67e0000 0 0x11000>;
		linux,uio-name = "rcarbusmoni_00";
	};

	rcarbusmoni1: rcarbusmoni1@e67a4000 {
		compatible = "generic-uio";
		reg = <0 0xe67a4000 0 0x3800>;
		linux,uio-name = "rcarbusmoni_01";
	};

	rcarbusmoni2: rcarbusmoni1@e67a8000 {
		compatible = "generic-uio";
		reg = <0 0xe67a8000 0 0x3800>;
		linux,uio-name = "rcarbusmoni_02";
	};

	otp_mem0: otp_mem@e61bf000 {
		compatible = "generic-uio";
		reg = <0 0xe61bf000 0 0x1000>;
		linux,uio-name = "otp_mem_01";
	};

	isp0: isp@fed00000 {
		compatible = "renesas,isp-r8a779g0";
		reg = <0 0xfed00000 0 0x10000>;
		interrupts = <GIC_SPI 473 IRQ_TYPE_LEVEL_LOW>;
		clocks = <&cpg CPG_MOD 612>;
		power-domains = <&sysc R8A779G0_PD_A3ISP0>;
		resets = <&cpg 612>;
		renesas,id = <0>;
	};

	isp1: isp@fed20000 {
		compatible = "renesas,isp-r8a779g0";
		reg = <0 0xfed20000 0 0x10000>;
		interrupts = <GIC_SPI 474 IRQ_TYPE_LEVEL_LOW>;
		clocks = <&cpg CPG_MOD 613>;
		power-domains = <&sysc R8A779G0_PD_A3ISP1>;
		resets = <&cpg 613>;
		renesas,id = <1>;
	};
};



