CONFIG_MODULES=y
CONFIG_HOTPLUG_CPU=y
CONFIG_CPU_IDLE_THERMAL=y
CONFIG_IDLE_INJECT=y

CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y

CONFIG_USB_XHCI_PCI_RENESAS=y
CONFIG_FW_LOADER=y
CONFIG_FW_LOADER_DEBUG=y
CONFIG_PCIE_RCAR_GEN4_HOST=m
CONFIG_PCIE_RCAR_GEN4_EP=m
# Integrate firmware into kernel
#CONFIG_EXTRA_FIRMWARE="rcar_gen4_pcie.bin renesas_usb_fw.mem"
#CONFIG_EXTRA_FIRMWARE_DIR="./"

CONFIG_IPMMU_VMSA=y
CONFIG_CMA_SIZE_MBYTES=512

# For NVME SSD
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_MULTIPATH=y
CONFIG_NVME_VERBOSE_ERRORS=y
CONFIG_NVME_HWMON=y

# For Raspberry Pi Touch Display v2
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_HID_GOODIX_SPI=y
CONFIG_I2C_HID_OF_GOODIX=y
CONFIG_DRM_PANEL_ILITEK_ILI9881C=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_GOODIX=y

# USB camera
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_USB_VIDEO_CLASS=y

# For camera modules
CONFIG_VIDEO_IMX290=y
CONFIG_VIDEO_IMX708=y

# Disable Sleep/Suspend
CONFIG_PM_SLEEP=n
CONFIG_SUSPEND=n
CONFIG_HIBERNATION=n

